:root {
  --spacing1: 0.5rem;
  --spacing2: 1rem;
  --spacing3: 1.5rem;
  --spacing4: 3rem;
  --borderRadius: 0.3rem;
  --red: #ef5350;
  --lightGrey: #f5f5f7;
  --grey: #d5d5d5;
  --shadow: 0 0.25rem 0.5rem 0 var(--grey);
}

ul {
  list-style-type: none;
}
li {
  margin: var(--spacing1) 0;
}
h1 {
  margin: 0;
}
button a {
  text-decoration: none;
  color: black;
}

label {
  color: white;
  font-weight: 700;
  font-size: 0.8rem;
  margin-right: var(--spacing1);
}

.App {
  background-color: var(--lightGrey);
}

.Logo {
  cursor: pointer;
  height: 2rem;
}

.Header {
  display: grid;
  grid-gap: var(--spacing3);
  align-items: center;
  background-color: var(--red);
  padding: var(--spacing1) var(--spacing2) var(--spacing2);
  box-shadow: var(--shadow);
}

.Footer {
  background-color: var(--grey);
  padding: var(--spacing2);
}

@media (min-width: 768px) {
  .Header {
    grid-template-columns: 1fr auto auto;
    padding: var(--spacing1) var(--spacing2);
  }
}

.Container {
  min-height: calc(100vh - 9.3rem);
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: var(--spacing2);
  padding: var(--spacing3) var(--spacing2);
}

.Space-between {
  display: flex;
  justify-content: space-between;
}

.Details-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  align-items: start;
  grid-gap: var(--spacing4);
}

.Card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  align-items: start;
  grid-gap: var(--spacing2);
}
.Card-list img,
.Details-layout img {
  width: 100%;
  background-color: var(--grey);
}
.Card {
  text-decoration: none;
  color: black;
  border-radius: var(--borderRadius);
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.Card-content {
  min-height: 14.6rem;
  padding: var(--spacing3);
}

.Bold-text {
  font-weight: 700;
}
