:root{
  --spacing1: 16px;
  --spacing2: 25px;
}

.App {
  padding: var(--spacing1);
  display: grid;
  grid-gap: var(--spacing1);
}

.Space-between{
  display: flex;
  justify-content: space-between;
}

.Card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(320px - 32px), 1fr));
  align-items: start;
  grid-gap: var(--spacing1);
}
.Card-list img{
  width: 100%;
}

.Card{
  border: 1px solid gray;
}

.Card-content{
  padding: var(--spacing2);
}

.Bold-text{
  font-weight: 700;
}
